/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-size: cover /* Increase the size of the image */
  }
  
  @media screen and (max-width: 996px) {
    .heroBanner {
      padding: 2rem;
    }
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cat-gif {
    margin: 0 10px;
    vertical-align: middle;
  }
  
  .about-me {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    font-weight: bold;
  }
  .centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%; /* Makes the image circular */
  }
  
  
  