/**
/* Add your new styles here */

/* About Section */
.aboutContent {
  text-align: center;
  margin-bottom: 2rem; /* Add some space between sections */
}

.aboutTitle {
  font-size: 2.5rem; /* Increase title font size */
  margin-bottom: 1rem; /* Add space below title */
}

.profileImage {
  border-radius: 50%; /* Makes the image circular */
  margin-bottom: 1rem; /* Add space below the image */
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right:auto;
  border: 0.5px solid #000000;
  transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.profileImage:hover {
  transform: rotate(5deg);
}

.btnContainer {
  margin-bottom: 1rem; /* Add space below the button */
}

/* Additional styles can be added as needed */


  
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
[data-theme = "light"] .btnPrimary {
  font-family: 'Fira Code', monospace; /* Sets the Fira Code font */
  font-size: 1.25rem; /* Makes the font larger */
  padding: 0.5rem 1rem; /* Adjust padding to make the button larger */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition for interactivity */
  border: none; /* Optional: removes the border */
  cursor: pointer; /* Changes cursor to pointer on hover */
  display: block;
  /* Add space above */
  margin-top: 1rem;
  /* Add border */
  border: 0.5px solid #000000;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px; /* Rounds the corners of the button */
  background-color: #ffffff;
  color: #000000; /* Sets the text color */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

[data-theme="dark"] .btnPrimary {
  font-family: 'Fira Code', monospace; /* Sets the Fira Code font */
  font-size: 1.25rem; /* Makes the font larger */
  padding: 0.5rem 1rem; /* Adjust padding to make the button larger */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition for interactivity */
  border: none; /* Optional: removes the border */
  cursor: pointer; /* Changes cursor to pointer on hover */
  display: block;
  /* Add space above */
  margin-top: 1rem;
  /* Add border */
  border: 0.5px solid #000000;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px; /* Rounds the corners of the button */
  background-color: #414040;
  color: #ffffff; /* Sets the text color */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

body {
  font-family: 'Fira Code', monospace; /* Or another font that matches your design */
}

[data-theme="light"] .btnPrimary:hover, .btnPrimary:focus {
  background-color: #0056b3; /* Changes background color on hover/focus */
  transform: scale(1.05); /* Slightly enlarges the button on hover/focus */
  color: #ffffff; /* Optional: changes the text color on hover/focus */
  text-decoration: none; /* Removes underline from links on hover/focus */
}

[data-theme="dark"] .btnPrimary:hover, .btnPrimary:focus {
  background-color: #007bff; /* Changes background color on hover/focus */
  transform: scale(1.05); /* Slightly enlarges the button on hover/focus */
  color: #ffffff; /* Optional: changes the text color on hover/focus */
  text-decoration: none; /* Removes underline from links on hover/focus */
}

.btnPrimary a {
  color: inherit; /* Ensures the link inside the button inherits the button's text color */
  text-decoration: none; /* Removes underline from links */
}

.btnPrimary a:hover {
  text-decoration: none; /* Ensures the link does not get underlined on hover */
}

/* Description Section */
.descriptionBody {
  text-align: left; /* Align text to the left for better readability */
  font-size: 1.2rem; /* Adjust font size for better readability */
  line-height: 1.6; /* Increase line height for better readability */
}

/* Enhance section separation and clarity */
.sectionTitle:after {
  content: '';
  display: block;
  height: 2px;
  background-color: #0056b3; /* Or a color that fits your theme */
  width: 50%;
  margin: 1rem auto; /* Center the line and add space around it */
}
/* Add your new styles here */
.sectionTitle {
  font-size: 2.5rem; /* Increase section title font size */
  margin-bottom: 2rem; /* Add more space below section title */
  text-align: center; /* Align section title to the center */
  color: #333; /* Darker color for better readability */
  font-weight: 600; /* Semi-bold for more emphasis */
  line-height: 1.2; /* Improve readability */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .aboutTitle, .sectionTitle {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }
  .profileImage {
    width: 200px;
    height: 200px; /* Adjust image size for smaller screens */
  }
  .btnPrimary {
    padding: 0.4rem 0.8rem; /* Adjust button padding for smaller screens */
  }
}

/* Project Cards */
[data-theme="light"] .projectCard {
  margin-bottom: 2rem;
  border: 1px solid #e1e4e8; /* Lighter border color for a softer look */
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  background-color: #f8f9fa; /* Lighter background color for better contrast */
}

[data-theme="dark"] .projectCard {
  margin-bottom: 2rem;
  border: 1px solid #333; /* Darker border color for better contrast */
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  background-color: #333; /* Darker background color for better contrast */
}

.card__header h3 {
  margin: 0;
  padding: 1rem; /* Added padding for spacing */
  background-color: #f8f9fa; /* Slightly different background for the header */
}

.card__body {
  padding: 1rem;
}

.card__footer {
  padding: 1rem;
  text-align: center; /* Centering the button */
}

[data-theme="dark"] .learnMoreButton {
  cursor: pointer;
  background-color: #007bff; /* Blue button color */
  color: #ffffff; /* White text color */
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out; /* Smooth transition for background color */
  font: inherit;
  /* size */
  font-size: 0.8rem;
}

[data-theme="light"] .learnMoreButton {
  cursor: pointer;
  background-color: #00ff99; /* Blue button color */
  color: #000000; /* White text color */
  border: 0.1px solid #000000; /* Black border */
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out; /* Smooth transition for background color */
  font: inherit;
  /* size */
  font-size: 0.8rem;
}
[data-theme="light"] .learnMoreButton:hover {
  background-color: #21864e; /* Darker shade on hover */
}

[data-theme="dark"] .learnMoreButton:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

/* Skills Section */
.skillList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Distribute items evenly */
  gap: 20px; /* Increase gap for better separation */
  padding-bottom: 3rem;
}

[data-theme="light"] .skillItem {
  background-color: #f8f9fa; /* Lighter background color for better contrast */
  color: #333; /* Darker text color for better readability */
  padding: 1rem 2rem; /* Increase padding for larger items */
  border-radius: 30px; /* Increase border radius for more rounded edges */
  font-size: 1rem; /* Increase font size for better readability */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Increase shadow for more depth */
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out; /* Add transition for transform */
}

[data-theme="dark"] .skillItem {
  background-color: #333; /* Darker background color for better contrast */
  color: #f8f9fa; /* Lighter text color for better readability */
  padding: 1rem 2rem; /* Increase padding for larger items */
  border-radius: 30px; /* Increase border radius for more rounded edges */
  font-size: 1rem; /* Increase font size for better readability */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Increase shadow for more depth */
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out; /* Add transition for transform */
}

[data-theme="light"] .skillItem:hover {
  background-color: #c3dc1d; /* Slightly darker on hover for interaction feedback */
  transform: scale(1.05); /* Slightly enlarge item on hover for interaction feedback */
}

[data-theme="dark"] .skillItem:hover {
  background-color: #1d7ddc; /* Slightly darker on hover for interaction feedback */
  transform: scale(1.05); /* Slightly enlarge item on hover for interaction feedback */
}

/* Experience and Education Section */
.experienceSection, .educationSection {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Change this line */
  padding-bottom: 2rem;
}

.experienceTimeline, .educationList {
  position: relative;
  padding-left: 30px; /* Add padding to the left for the timeline */
}

.timelineItem, .educationList li {
  margin-bottom: 1.5rem;
  padding: 1rem; /* Add padding for better spacing */
  border-radius: 10px; /* Rounded corners for each item */
}

.timelineDot {
  width: 20px;
  z-index: 2; /* Make the dot appear above the timeline */
  height: 20px;
  border-radius: 50%;
  background-color: #0056b3;
  position: absolute;
  left: -23px; /* Move the dot to the left */
  top: 10px; /* Align the dot with the top of the item */
}

.timelineDot2 {
  width: 20px;
  z-index: 2; /* Make the dot appear above the timeline */
  height: 20px;
  border-radius: 50%;
  background-color: #0056b3;
  position: absolute;
  left: -23px; /* Move the dot to the left */
  top: 517px; /* Align the dot with the top of the item */
}

.timelineDate, .educationDate {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.timelineContent, .educationContent {
  margin-left: 20px;
}

/* Additional CSS for visual enhancements */
.timelineItem::before {
  content: '';
  position: absolute;
  left: -15px; 
  top: 20px; 
  bottom: 40px;
  width: 2px;
  background-color: #ddd;
}